

.box1{
    height: 400px;
    background-color: #757575;
    border: solid;
    border-color: #ffc107;
}
.box2{
    height: 400px;
    background-color: #bdbdbd;
    border: solid;
    border-color: #ffc107;
}
 .container{
   
    border-radius: 2px;
    align-items: center;
    padding: 0rem;
   

    
} 

  #cont2 .container {
    position: fixed;
    z-index: 1;
    
    
}  

.navbar{
    
    background-color:#ffc107 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
      
    
}

.navbar ul{
    list-style-type: none;
    display: flex;
}

.navbar ul a{
    text-decoration: none;
    padding: 0.5rem;
    
}

.navbar ul a:hover{
    background-color: #757575;
    border-radius: 4px;
    color: white;
    
}



.p1{
    color: darkgrey;
}

h2{
    color:#424242;
}

footer{
    background-color:#757575 ;
    height: 10rem;
   

}

footer h2{
    color: #bdbdbd;
}

.row{
    margin: auto;
}

